//Icons
@import "./icons/foundation-icons.css";
// Variables
@import "settings";
// Foundation Import
@import "../../../node_modules/foundation-sites/assets/foundation";
//Normalize Import
//@import "../../../node_modules/normalize.scss/normalize";

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {border: none;}
.disabled{
  opacity: 0.75;
  cursor: not-allowed;
}

.alert-danger{
  color: #ffffff;
  background: #a94442;
  padding: 15px;
}
.green{
  background: #3c763d;
  color: #ffffff;
  padding: 10px;
  box-shadow: 2px 2px 2px #000000;
  margin-bottom: 10px;

}
.red{
  background:#a94442;
  color: #ffffff;
  padding: 10px;
  box-shadow: 2px 2px 2px #000000;
  margin-bottom: 10px;

}
.blue{
  color:#1779BA;
  text-align: left;
}
.right{
  text-align: right;
}
.imgs{
  height:180px !important;
}
.menus{
color:#ffffff;
  font-family: 'Proxima Nova Regular', sans-serif;
}
ul{
  margin-left:0 !important;
}
.padded{
  padding: 40px;
}
.action{
  padding: 40px;
  background-color:#2B3A41;
  text-align:center;
  color:#0A0A0A;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
.pictures{
  height: 250px;
}
  .menu-mobile{
    display: none;
  }
  .imgx{
    height:95px;
  }
  .actions{
    padding:20px;
  }
}
.smal{
  width: 30%;
  max-height: 30px;
}
.cart{
  padding: 10px;
  background: #ffffff;

}
.no{
  color:#ffffff;
  padding:10px;
  background: red;
  border-radius:3px;
}
.greens{
  color:green;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price{
  margin-left:5px;
  padding:3px;
  background-color: green;
  color:#ffffff;
  border-radius:3px;
}
.card:hover
{
  box-shadow: 0px 0px 100px #000000;
  z-index: 2;
  -webkit-transition: all 500ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 500ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 500ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 500ms ease-in;
  transform: scale(1.1);
}